# Ignore vendor and other dependencies  
/vendor/  
/stubs/
/node_modules/  
/npm-debug.log  
/yarn-error.log  

# Ignore compiled files  
/public/storage  
/public/hot  

# Ignore environment configuration files  
/.env  
/.env.local  
/.env.*.local  

# Ignore IDE/Editor specific files  
/.vagrant  
/.idea/  
/*.sublime-project  
/*.sublime-workspace  

# Ignore cache and log files  
/storage/*.key  
/storage/logs/*  
/storage/framework/cache/*  
/storage/framework/sessions/*  
/storage/framework/views/*  
/storage/app/*  
/storage/app/public/*  

# Ignore compiled classes and files  
/bootstrap/compiled.php  
/public/compiled.php  

# Ignore PHPUnit result cache  
.phpunit.result.cache  

# Ignore Homestead files  
Homestead.yaml  
Homestead.json  

# Ignore Docker files (if applicable)  
/docker-compose.yml  
/docker-compose.override.yml  

# Ignore other specific files  
/.vscode  
/.phpunit.result.cache
